<h2>マイページ</h2>

<div class="profile-container">
  <%= attachment_image_tag(@user, :profile_image_id, :fill, 100, 100, fallback: "no-image.jpg") %>
  <h3>ユーザー名</h3>
  <h3 class="profile-name"><%= @user.name %></h3>

</div>

<% @events.each do |event| %>
      <tr>
        <td><%= attachment_image_tag(event, :image, :fill, 200, 200, fallback: "no-image.jpg") %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.genre %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <td><%= link_to "#{event.event_comments.count} コメント", event_path(event.id) %></td>
        <td><%= link_to "#{event.favorites.count} いいね", event_path(event.id) %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "プロフィールを編集する", edit_user_path(@user.id) %>

<%= paginate @events %>