  <div class="wrapper">
    <div class="row">
      <h2>マイページ</h2>
    </div>

    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>ユーザー名</th>
            <th>自己紹介</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= attachment_image_tag(@user, :profile_image, :fill, 100, 100, fallback: "no-image.jpg", class: 'no-image-item') %></td>
            <td><%= @user.name %></td>
            <td><%= @user.introduction %></td>
              <% if @user.id == current_user.id %>
                <td><%= link_to "プロフィールを編集する", edit_user_path(@user.id) %></td>
              <% end %>
          </tr>
        </tbody>
      </table>

     <%= render partial: 'events/list', locals: {events: @events, view_rank: false } %>
      </div>
    </div>
  </div>