<% events.each.with_index(1) do |event, i| %>
<% if view_rank %>
  <p>ランク：<b><%= i %>位</b></p>
<% end %>
  <%= link_to(event_path(event), class: 'event-list') do %>
    <div class="events">
      <h3><%= event.title %></h3>
        <div class="event_content">
          <div class="event_img">
            <%= attachment_image_tag(event, :image, :fill,50, 50, fallback: "no-image.jpg") %>
          </div>

          <div class="event_schedule">
            <ul>
              <li><span>開催場所</span>
                <%= event.address %></li>

              <li><span>イベント開始日程</span>
                <%= formarted_date(event.start_date) %></li>

              <li><span>イベント終了日程</span>
                <%= formarted_date(event.end_date) %></li>

              <li><span>イベントジャンル</span>
                <%= event.genre %></li>

              <li><%= link_to "#{event.event_comments.count}", event_path(event.id), class: "far fa-comments fa-1x" %></li>
              <li><%= link_to "#{event.favorites.count}", event_path(event.id), class: "fas fa-thumbs-up fa-1x" %></li>
              <li><%= link_to '詳細を見る', event %></li>
            </ul>
           </div>
        </div>
    </div>
  <% end %>
<% end %>